body {
  background: #004b59 url("background.png");
  background-repeat: repeat-x;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 130%;
  color: #eee;
  text-align: center;
}

h1 {
  font-size: 180%;
  margin: 0 auto;
}

#content {
  margin-top: 50px;
}

#presentation {
  max-width: 650px;
  margin: 30px auto;
  line-height: 1.75em;
}

a {
  color: #eee;
}

.clear-both {
  clear: both;
}

#projects {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

a.project {
  float: left;
  width: 160px;
  height: 50px;
  border: 1px solid #eee;
  padding: 158px 9px 16px 9px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 1.5em;
  position: relative;
  font-size: 90%;
}

a .img-container {
  position: absolute;
  top: 20px;
  left: 9px;
  width: 160px;
}

a img {
  border: solid 2px black;
  width: 128px;
  height: 128px;
}

#contact {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  margin-top: 0px;
}

#contact li {
  margin: 0px 5px;
}

#contact a {
  font-size: 32px;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 58px;
  width: 58px;
  height: 65px;
}

#contact a:before {
  border-color: #eee;
  display: block;
  text-indent: 0;
  top: 5px;
  padding: 10px;
  color: #eee;
  border-radius: 29px;
  border: 3px solid #eee;
  transition: top 0.15s, border-color 0.15s, color 0.15s;
  position: absolute;
}

#contact a.icon-twitter:hover:before {
  top: 0px;
  color: #1da1f2;
  border-color: #1da1f2;
}

#contact a.icon-github:hover:before {
  top: 0px;
  color: #6e5494;
  border-color: #6e5494;
}

#contact a.icon-envelop:hover:before {
  top: 0px;
  color: #fff597;
  border-color: #fff597;
}
